@font-face {
  font-family: "Futura";
  src: url("FuturaPT-Book.eot") format("embedded-opentype"),
       url("FuturaPT-Book.svg") format("svg"),
       url("FuturaPT-Book.ttf") format("truetype"),
       url("FuturaPT-Book.woff") format("woff"),
       url("FuturaPTBook.otf") format("opentype");
}

body{
   font-family: "Futura", sans-serif;
   color:#403e2c;
   font-size: 16px;
}

h1, h2, h3{
  font-weight:bold;
}

h1, h2{
  color:#96c13d;
}

h1{
  font-size: 3.5rem;
  line-height: 1.2;
}

h2{
  font-size: 2.5rem;
  line-height: 1.5;
}

h3{
  font-size: 1.5rem;
  line-height: 1.5;
}

a{
  text-decoration: none;
  position: relative;
  cursor: pointer;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  z-index: 2000;
}

/* Header */

header{
  height: 4rem;
  z-index: 998;
  position: fixed;
  width: 100%;
}

header a{
  color: white;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem 0 0.75rem;
  height: 100%;
  transition: 0.4s;
  border: none;
}

#logo{
  display: none;
}

header li{
  display: inline;
  margin-right: 1rem;
  color: hsl(60, 2%, 30%);
}

header img{
  height: 2.75rem;
  width: auto;
}

/* Banner */

.banner{
  height: 100vh;
  background-color:#b1d355;
  overflow: hidden;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

video{
  height: 80%;
  width: auto;
}

/*#lottie{
    background-color:#b1d355;
    width:100%;
    height:100%;
    display:block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
}*/

/* Sections general */

section{
  text-align: center;
  height: 40rem;
  width: 100%;
}

section h2{
  margin: 5rem;
}

.container{
  display: flex;
  justify-content: space-around;
  padding: 5rem;
}

.box{
  text-align: center;
  width: 20%;
}

.box h3{
  margin-top: 1rem;
}

.box p{
  margin-top: 1.5rem;
  line-height: 1.3rem;
}

section img{
  height: 5rem;
  width:auto;
}

/* Section mockup */

.mockup{
 width: 100%;
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
}

.mockup ul{
  display: flex;
  list-style: none;
}

.mockup li{
 width: 33.33%;
}

.mockup img{
  width: 100%;
}

/* Section Nous */

#Qui{
  background-color: #006b36;
  color:#96c13d;
}

#Qui img{
  height: 20rem;
  width: auto;
}

#Qui a{
  color: #212724;
}

#Qui p{
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

/* Section contact */

#Contact{
  padding: 3rem 0;
}

form {
  width: 40rem;
  margin: 0 auto;
  padding: 5rem;
  border: 1px solid #CCC;
  border-radius: 1em;
  color:#96c13d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font: 1em sans-serif;
}

.contact-box{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.field{
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
}

input {
  width: 18rem;
  border: 1px solid #999;
}

textarea {
  width: 17.75rem;
  border: 1px solid #999;
  height: 10rem;
}

label{
  margin-right: 0.5rem;
}

.thankyou_message{
  margin-top: 4rem;
  display:none;
}

#honeypot {
  display: none;
}

/* Footer */

footer{
  background-color: #006b36;
}

/*Parallaxer*/

.parallaxer {
	display:  block;
	overflow: hidden;
	position: relative;
	height:   40rem;
	width:    100%;
}

.parallaxer img {
	display: none;
}

.parallaxer img:first-child {
	bottom:             0;
	display:            block;
	left:               50%;
	min-height:         100%;
	min-width:          100%;
	opacity:            0;
	position:           absolute;
	-webkit-transition: opacity 250ms ease-out;
	-moz-transition:    opacity 250ms ease-out;
	-o-transition:      opacity 250ms ease-out;
	transition:         opacity 250ms ease-out;
  border: 1px solid red;
}

.parallaxer-not-supported {
	display: none;
}
